{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "settings": {
    "react": { "pragma": "h" }
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/no-absolute-path": 0
  }
}
